$redes: (
  google: #d14b3e,
  facebook: #3d5a96,
  twitter: #58acea,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 241, 252);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);

  @media screen and(min-width: 500px) {
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 80px;
    border-radius: 5px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
  }

  .container__text {
    font-weight: bold;
    text-align: center;
    width: 190px;
  }

  .container__button {
    font-weight: bold;
    width: 250px;
    padding: 13px 40px;
    border: none;
    border-radius: 7px;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  @each $red, $color in $redes {
    .btn__#{$red} {
      background-color: $color;
    }
  }

  .container__checkbox {
    display: flex;
    width: 250px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;

    & input {
      margin-right: 8px;
    }
  }
}
